---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<p>‡ indicates equal contribution, @ indicates corresponding author </p>

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% assign sorted_pubs = site.publications | sort: 'date' | reverse %}

<div class="publications">
{% for post in sorted_pubs %}
  
  <div class="publication-item" style="margin-bottom: 2rem; border-bottom: 1px dashed #ccc; padding-bottom: 1.5rem;">
    
    <h2 style="margin-bottom: 0.5rem; font-size: 1.3rem;">
      <a href="{{ post.permalink | relative_url }}">{{ post.title }}</a>
    </h2>
    
    <p style="margin: 0.25rem 0;">
      Published date: {{ post.date | date: "%Y-%m-%d" }}
      {% if post.citation %}
         &nbsp; {{ post.citation }}
      {% endif %}
    </p>
    
    {% if post.authors %}
      <p style="margin: 0.25rem 0; font-size: 0.95em;">{{ post.authors }}</p>
    {% endif %}
    
    {% if post.paperurl %}
      <p style="margin: 0.5rem 0 0 0;">
        <a href="{{ post.paperurl }}">Download Paper</a>
      </p>
    {% endif %}

  </div>

{% endfor %}
</div>

