{% include base_path %}

{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
    {% if page.author_profile or layout.author_profile %}
      {% include author-profile.html %}
    {% endif %}
    
    {% if page.sidebar %}
      {% for s in page.sidebar %}
        {% if s.image %}
          <img src=
          {% if s.image contains "://" %}
            {{ s.image }}
          {% else %}
            {{ s.image | prepend: "/images/" | prepend: base_path }}
          {% endif %}
          alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
        {% endif %}
        {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
        {% if s.text %}{{ s.text | markdownify }}{% endif %}
      {% endfor %}
      
      {% if page.sidebar.nav %}
        {% include nav_list nav=page.sidebar.nav %}
      {% endif %}
    {% endif %}

    <div style="margin: 20px auto; text-align: center;">
      <script type='text/javascript' id='mapmyvisitors' src='https://mapmyvisitors.com/map.js?cl=356379&w=a&t=tt&d=a_dIcJItb0orS1llLx_VqVh-XtN1CdWN6BBX_0DOCuE&co=94acbe&cmo=d0aa69&cmn=3aa5cc&ct=1d4b53'></script>
    </div>
    
  </div> 
{% endif %}
